/*
 * ===================================================================
 * -- RESET ----------------------------------------------------------
 * ===================================================================
 */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

button {
  appearance: none;
  border: none;
  background: none;
}

button:focus-visible {
  outline: none;
}

/*
 * ===================================================================
 * -- STYLES ---------------------------------------------------------
 * ===================================================================
 */

:root {
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100dvh;
  overflow: hidden;
}

.noise {
  background-image: url("./noise.png");
  background-repeat: repeat;
  background-size: 256px 256px;
  position: absolute;
  z-index: 999;
  inset: 0;
  pointer-events: none;
  opacity: 0.5;
  mix-blend-mode: normal;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

button {
  padding: 1rem 2rem;
  border: 1px solid white;
  background: none;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  pointer-events: auto;
  transition: 0.2s;
}

button:hover {
  background-color: white;
  color: black;
}

/*== BACKGROUND ==*/

#background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: -999;
}

#canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  opacity: 0.5;
}

.blur {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 41%, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.--greyscale {
  filter: grayscale(1);
}
