/*
 * ===================================================================
 * -- RESET ----------------------------------------------------------
 * ===================================================================
 */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
span {
  text-wrap: pretty;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea,
button {
  appearance: none;
  border: none;
  background: none;
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: none;
}

/*
 * ===================================================================
 * -- STYLES ---------------------------------------------------------
 * ===================================================================
 */

:root {
  --bgc-negro: #202020;
  --bgc-blanco: #f5f5f5;
  --border-width: 0.1rem;
  --tiempo: 6s;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bgc-negro);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 100vw;
}

.marcoPuerta {
  width: 10rem;
  height: 20rem;
  border: var(--border-width) solid var(--bgc-blanco);
  border-bottom: none;
  box-shadow: 0 0 0 100vw var(--bgc-negro);
  position: absolute;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: zoomIn var(--tiempo) linear infinite;
}
@keyframes zoomIn {
  0% {
    transform: translateZ(0vw);
    z-index: 0;
  }
  50% {
    transform: translateZ(100vw);
    z-index: 1;
  }
  95% {
    transform: translateZ(200vw);
    z-index: 2;
  }
  100% {
    transform: translateZ(300vw);
    z-index: 3;
  }
}

.marcoPuerta__pared {
  width: 200vw;
  border-bottom: calc(var(--border-width) + (var(--border-width) / 1.4)) solid
    var(--bgc-blanco);
  position: absolute;
  left: -100vw;
  bottom: calc(-1 * var(--border-width));
}

.marcoPuerta__puerta {
  width: 100%;
  height: 100%;
  border: var(--border-width) solid var(--bgc-blanco);
  background-color: var(--bgc-negro);
  position: relative;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  animation: abrirPuerta var(--tiempo) ease-in-out infinite;
}
@keyframes abrirPuerta {
  15% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-125deg);
  }
  100% {
    transform: rotateY(-125deg);
  }
}
.marcoPuerta__puerta::before {
  content: "";
  width: 0.6rem;
  height: 100%;
  border: var(--border-width) solid var(--bgc-blanco);
  background-color: var(--bgc-negro);
  position: absolute;
  right: calc(-1 * var(--border-width));
  transform-origin: right;
  transform: rotateY(-90deg);
}

.puerta__pomo {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  border: var(--border-width) solid var(--bgc-blanco);
  background-color: var(--bgc-negro);
  position: absolute;
  top: calc(50% - 0.6rem);
  right: 1rem;
  transform-style: preserve-3d;
  transform: translateZ(0.4rem);
}

.puerta__pomo::before {
  content: "";
  width: calc(0.4rem - var(--border-width));
  height: 0.4rem;
  border: var(--border-width) solid var(--bgc-blanco);
  border-left: none;
  border-right: none;
  background-color: var(--bgc-negro);
  position: absolute;
  top: calc(50% - ((0.4rem + (var(--border-width) * 2)) / 2));
  left: calc(50% - 0.2rem);
  transform: rotateY(90deg) translateX(0.2rem);
}

.marcoPuerta:nth-of-type(1),
.marcoPuerta:nth-of-type(1) .marcoPuerta__puerta {
  animation-delay: calc((var(--tiempo) / 4) * 3);
}
.marcoPuerta:nth-of-type(2),
.marcoPuerta:nth-of-type(2) .marcoPuerta__puerta {
  animation-delay: calc((var(--tiempo) / 4) * 2);
}
.marcoPuerta:nth-of-type(3),
.marcoPuerta:nth-of-type(3) .marcoPuerta__puerta {
  animation-delay: calc(var(--tiempo) / 4);
}

/*.marcoPuerta:nth-of-type(1) .marcoPuerta__puerta{
  background-color: red;
}
.marcoPuerta:nth-of-type(2) .marcoPuerta__puerta{
  background-color: blue;
}
.marcoPuerta:nth-of-type(3) .marcoPuerta__puerta{
  background-color: green;
}
.marcoPuerta:nth-of-type(4) .marcoPuerta__puerta{
  background-color: yellow;
}*/
